{% extends 'base.html' %}

{% block main_content %}
    <a href="{% url 'currency:rate-create' %}"><button>Create Rate</button></a><br>
<caption>Currency</caption>
{% for rate in rate_list %}
    <table>
        <tr>
            <td>ID: {{ rate.id }}</td>
            <td>Sale: {{ rate.sale }}</td>
            <td>Buy: {{ rate.buy }}</td>
            <td>Created: {{ rate.created }}</td>
            <td>Source: {{ rate.source }}</td>
            <td>Type: {{ rate.get_type_display }}</td>
        </tr>

    </table>
<a href="{% url 'currency:rate-details' rate.pk %}"><button>Details</button></a>
<a href="{% url 'currency:rate-update' rate.pk %}"><button>Update</button></a>
<a href="{% url 'currency:rate-delete' rate.pk %}"><button>Delete</button></a>

{% endfor %}
{% endblock %}

