{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    <a href="{% url 'currency:source-create' %}"><button class="btn btn-success">Create source</button></a><br>
<caption>Bank info</caption>
{% for source in source_list %}
<div class="row">
    <table class="col-2">
        <tr>
            <td>Name: {{ source.name }}</td>
        </tr>
        <div>
            {% if request.source.logo.url %}
                <img src="{{ request.source.logo.url }}" width="64">
            {% else %}
                <img src="{% static 'images/none_bank.jpg' %}" width="64">
            {% endif %}
        </div>

    </table>
    <div class="btn-group dropright col-2">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 30px;">
        Action
      </button>
      <div class="dropdown-menu">
        <a href="{% url 'currency:source-details' source.pk %}" type="button" class="btn btn-info">Details</a>
        <a href="{% url 'currency:source-update' source.pk %}" type="button" class="btn btn-primary">Update</a>
        <a href="{% url 'currency:source-delete' source.pk %}" type="button" class="btn btn-warning">Delete</a>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}

