{% extends 'base.html' %}

{% block main_content %}
    <a href="{% url 'source-create' %}"><button>Create source</button></a><br>
<caption>Bank info</caption>
{% for source in source_list %}
    <table>
        <tr>
            <td>Name: {{ source.name }}</td>
        </tr>

    </table>
<a href="{% url 'source-details' source.pk %}"><button>Details</button></a>
<a href="{% url 'source-update' source.pk %}"><button>Update</button></a>
<a href="{% url 'source-delete' source.pk %}"><button>Delete</button></a>

{% endfor %}
{% endblock %}

